
.right-inner-container {
    padding: 2%;
    border-radius: 5px;
    margin-bottom: 80px;
    background-color: #ffffff;
    animation: .5s ease-in-out 0s 1 slideInFromLeft;
    transition:  1s ease-in;
    box-shadow: 0 6.7px 28.6px rgba(0, 0, 0, 0.162), 0 22.3px 25.1px rgba(0, 0, 0, 0.238), 0 100px 130px rgba(0, 0, 0, 0.4);
  }
  
  .my-card{
    animation: 1s ease-in 0s 1 slideInFromTop;
  }
.my-card:hover{
    transform: scale(1.2) .6s;
}