<h1>Register</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label for="name">Full Name</label>
  <input
    type="text"
    formControlName="name"
    id="user_name"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
  />
  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
    <div *ngIf="f.name.errors.required">name is required</div>
  </div>

  <label for="email">Email</label>
  <input
    type="text"
    formControlName="email"
    id="user_email"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
  />
  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
    <div *ngIf="f.email.errors.required">email is required</div>
  </div>

  <label for="password">Password</label>
  <input
    type="password"
    formControlName="password"
    id="user_pass"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
  />
  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
    <div *ngIf="f.password.errors.required">Password is required</div>
  </div>

  <label for="contact">Contact</label>
  <input
    type="contact"
    formControlName="contact"
    id="user_contact"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.contact.errors }"
  />
  <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
    <div *ngIf="f.contact.errors.required">contact is required</div>
    <div *ngIf="f.contact.errors.minlength">
      contact must be at least 10 digits
    </div>
    <div *ngIf="f.contact.errors.maxlength">
      contact must not be more than 10 digits
    </div>
    <div *ngIf="f.contact.errors.min">contact should at least start from 6</div>
  </div>

  <label for="address">Address</label>
  <input
    type="address"
    formControlName="address"
    id="address"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
  />
  <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
    <div *ngIf="f.address.errors.required">Address is Required</div>
  </div>

  <br />
  <button [disabled]="loading" class="btn btn-primary">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Register
  </button>
  <!-- <a routerLink="/login" class="btn btn-link">Cancel</a> -->
</form>
